h4 {
    text-align: center;
}

.counter-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 10px;
}

.counter-btns button {
    border-radius: 20px;
    padding: 5px;
    background-color: lightblue;
}