.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.menu .links {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    list-style-type: None;
}

.menu .links a {
    text-decoration: None;
    color: inherit;
}